@font-face {
    font-family: "poppins";
    src: url('../font/Poppins-Light.ttf');
}
:root{
    --blue : rgb(1 64 81) ;
    --turquoise : #0199be; 
    --darkturquoise : #0199be ;
    --body : rgb(213 247 255 / 10%) ;
    --white : rgb(255 255 255) ;
    --input : rgba(238, 238, 238, 0.428) ;
}
body{
    font-family: "poppins";
    margin: 0;
    padding: 0;
    background: var(--body);
}
.container-page{
    display: flex;
}
.content-bl{
    margin-top: 10px;
    margin-left: 18%;
    width: 70%;
    padding: 10px;
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0px 0px 2px 4px rgba(238, 238, 238, 0.135);
    div{
        span{
            margin-bottom: 10px;
        }
        margin-bottom: 10px;
    }
    .content-about-livraison{
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            display: flex;
            flex-direction: column;
            .fournisseur{
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
    table{
        width: 100%;
        text-align: center;
        tr{
            align-items: center;
            td{
                padding: 12px;
            }
        }
        .title-table{
            background: var(--turquoise);
            th{
                padding: 12px;
            }
        }
    }
}