.table-container {
    display: flex;
    justify-content: center;
}

.styled-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1500px; /* Ajustez la largeur maximale selon vos besoins */
    margin: 20px;
    background: #f5f5f5;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
}
.table-title {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    background-color: #63e633;
    color: white;
    border-radius: 10px 10px 0 0; /* Coins arrondis uniquement en haut */
}
.styled-table thead th {
    background-color:#2a5a19;
    color: white;
    text-align: left;
    padding: 5px;
    border-bottom: 3px solid #ffffff; /* Ajout d'une bordure en dessous des cellules de l'en-tête */
    border-color: black;
}
.styled-table tbody td {
    padding: 12px;
    border-bottom: 3px solid #f1f1f1; /* Ajout d'une bordure en dessous des cellules du corps du tableau */
    border-color: black;
}
.styled-table tbody tr:last-child td {
    border-bottom: 1px; /* Supprimer la bordure en dessous de la dernière ligne du tableau */
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #f1f1f1;
}
.styled-table tbody tr:hover {
    background-color: #d8e9ff;
}
.td1{
    background-color:rgba(128, 128, 128, 0.613);
}
.td2{
    background-color:rgba(95, 237, 244, 0.782);
}
/* Pour la rendre responsive */
@media (max-width: 1000px) {
    .styled-table {
        max-width: 100%;
    }
}